{% extends "layouts/prueba.html" %}
{% block header %}

<button class="tab-button"><a class='button-links' href='{% url "interfaz_index" %}' >Inicio</a> </button>
<button class="tab-button"><a class='button-links' href='{% url "index_ficha" %}' >Fichas</a></button>

<button class="tab-button"><a class='button-links' href='{% url "crear_ficha" %}' >Crear Fichas</a></button>


{% endblock  %}
{% block content %}
<h3 class="text-center">Editar Ficha</h3>

<div class="col-md-8">

    <h1 class='error'>{{error}}</h1>
    <form method="post">

        {% csrf_token %}
        <div class="mb-3">
            <label for="{{ form.numero_ficha.id_for_label }}" class="form-label">Número de Ficha</label>
            {{form.numero_ficha}}
            <input type="hidden" name="tipo_programa" value="{{ form.instance.tipo_programa.id }}">

        </div>
        <div class="mb-3">
            <label for="form_inicio" class="form-label">Fecha de Inicio:</label>
            <input type="date" id="form_inicio" class="form-control" 
            value="{{ form.initial.fecha_inicio|date:'Y-m-d' }}" readonly>
        </div>
        <div class="mb-3">
            <label for="{{ form.fecha_final.id_for_label }}" class="form-label">Fecha Final</label>
            {{form.fecha_final}}
        </div>
        <div class="mb-3">
            <label for="{{ form.lider_ficha.id_for_label }}" class="form-label">Líder de Ficha</label>
            {{ form.lider_ficha }}
        </div>
        <div class="mb-3">
            <label for="{{ form.tipo_programa.id_for_label }}" class="form-label">Tipo de Programa</label>
            {{ form.tipo_programa }}
        </div>
        <button type="submit" class="btn btn-success w-100">Guardar Cambios</button>
    </form>
</div>

{% endblock  %}