{% extends 'layouts/base.html' %}
{% block content %}
    <h2>EDITAR: <u>{{ficha.numero_ficha}}</u></h2>
    {{error}}
    <form method="post">
    {% csrf_token %}
    
    <div class="form-group">
        <label for="{{ form.numero_ficha.id_for_label }}">Número de Ficha</label>
        <p>{{ form.numero_ficha }}</p>
    </div>

    <div class="form-group">
        <label for="{{ form.fecha_inicio.id_for_label }}">Fecha de Inicio</label>
        <p>{{ ficha.fecha_inicio|date:"d/m/Y" }}</p>
    </div>

    <div class="form-group">
        <label for="{{ form.fecha_final.id_for_label }}">Fecha de Finalización</label>
        <p>{{ form.fecha_final }}</p>
    </div>

    <div class="form-group">
        <label for="{{ form.lider_ficha.id_for_label }}">Líder de Ficha</label>
        <p>{{ form.lider_ficha }}</p>
    </div>

    <div class="form-group">
        <label for="{{ form.tipo_programa.id_for_label }}">Tipo de Programa</label>
        <p>{{ form.tipo_programa }}</p>
    </div>

    <button type="submit">Guardar</button>
    </form>
    <br>
    <form action="{% url 'delete_ficha' ficha.numero_ficha %}" method="POST">
        {% csrf_token %}
        <button>Elimina</button>
    </form>

    
{% endblock %}

