<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carnetizacion Sena</title>
</head>
<body>
    <nav>
        <ul>
            <!-- <li>
                <a href="{% url 'index' %}">Index</a>
            </li>
            <li>
                <a href="{% url 'create_users' %}">Crear usuarios</a>
            </li>
            <li>
                <a href="{% url 'view_users' %}">ver usuarios</a>
            </li>
            <li>
                <a href="{% url 'insertar_users' %}">Insertar usuarios</a>
            </li>

            <li>
                <a href="{% url 'fichas_index' %}">fichas_index</a>
            </li>
            <li>
                <a href="{% url 'create_rol' %}">crear rol</a>
            </li>
            <li>
                <a href="{% url 'view_rol' %}">Roles</a>
            </li> -->
            
        </ul>
    </nav>
    {% block content %}
    {% endblock %}
</body>
</html>