{% extends "layouts/prueba.html" %}
{% load static %}
{% block header %}
    <button class="tab-button"><a class='button-links' href='{% url "interfaz_index" %}'>Inicio</a></button>
    <button class="tab-button"><a class='button-links' href='{% url "carnet_index" %}'>Carnets</a></button>
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-3">
        <div class="card text-white bg-primary mb-3">
            <div class="card-body bg-success">
                <h5 class="card-title">Total Carnets</h5>
                <span class="card-text" id="total-carnets">{{ total_carnets }}</span> Carnets activos
            </div>

            <a href="{% url 'exportar_carnets_excel' %}" class="btn btn-success">Descargar Excel</a>
        </div>
        <div class="mb-2">
            <input type="text" id="buscador" class="form-control" placeholder="Buscar por documento..." onkeyup="buscarUsuario()">
        </div>
    </div>


    <div class="col-md-9">
        <div class="table-responsive">
            <table id="tabla-fichas" class="table table-bordered">
                <thead>
                    <tr>
                        <th>Número de Ficha</th>
                        <th>Documento</th>
                        <th>Nombre</th>
                        <th>Estado</th>
                        <th>Rol</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody id="tabla-carnets">
                    {% for carnet in carnets %}
                    <tr>
                        <td>{{ carnet.ficha.numero_ficha }}</td>
                        <td>{{ carnet.aprendiz.num_doc }}</td>
                        <td>{{ carnet.aprendiz.nombre }}</td>
                        <td class="estado">
                            {% if carnet.aprendiz.estado == 1 %}
                                Activo
                            {% else %}
                                Inactivo
                            {% endif %}
                        </td>
                        
                        <td>{{ carnet.aprendiz.rol }}</td>
                        <td>
                            {% if carnet.aprendiz.estado == 1 %}
                            <button class="btn btn-danger" onclick="cambiarEstado('{{ carnet.aprendiz.num_doc }}', this)">
                                Deshabilitar
                            </button>
                        {% else %}
                            <button class="btn btn-success" onclick="cambiarEstado('{{ carnet.aprendiz.num_doc }}', this)">
                                Habilitar
                            </button>
                        {% endif %}
                        
                        
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    
        <button id="btn-prev" onclick="cargarPagina(paginaActual - 1)" disabled>← Anterior</button>
        <button id="btn-next" onclick="cargarPagina(paginaActual + 1)">Siguiente →</button>
    </div>
</div>
    
<script src="{% static 'js/registroCarnet.js' %}"></script>

    
{% endblock %}
